/*!--------*/

.social {
    background-color: rgb(0, 0, 0);
    h2 {
        text-align: center;
        color: yellow;
        background-color: black;
        padding: 30px;
        margin: 45px;
    }

    .social-flex {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 20px;
        ul{
            color: white;
            border: 10px wheat dashed;
            padding: 50px;
            h3{
                font-style: unset;
            }
            li{
                font-size: 20px;
            }
        }
        p {
            font-size: 50px;

            iframe {  width: 250px;
                height: 250px;}
        }

        a {
            transition: 1s;
            &:hover{
                transform: scale(1.8);

            }
            img {
                padding: 5px;
                width: 50px;
                height: 50px;
                margin: 45px;
            }
        }
    }




}

/*!----------*/