.img-logo {
    img {
        height: 250px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 3px black;
        border: 3px solid black;
    }

}

.hero {
    color: black;
    text-align: center;
    width: 100%;
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: none;


    h2 {
        font-size: 60px;
        font-style: italic;
        border: 3px solid white;
        padding: 15px;
    }

    p {
        font-size: 25px;
        margin: 10px;
    }
}

.iframe {

    h2 {
        background-color: black;
        color: yellow;
        background-position: center;
        font-style: italic;
        font-size: 50px;
        text-align: center;

    }

    p {
        iframe {
            border: 10px black inset;
            margin: 20px;
            width: 560px;


        }
    }

}

.img {

    .img-contenedor {
        display: grid;
        grid-template-columns: repeat(3, 3fr);
        justify-items: center;



        div {
            border: 2px solid black;
            width: 255px;
            height: 350px;
            margin: 20px;
            text-align: center;
            transition: 1s;
            border: 5px black double;

            &:hover {
                transform: scale(1.1);

            }

            img {
                width: 245px;
                height: 245px;
            }

            a {
                text-decoration: none;
                color: yellow;
                background-color: black;
                padding: 5px;
                margin: 0px;
            }
        }
    }
}