/*!------reset-----*/

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgba(245, 222, 179, 0.583);
}

.nav {
    height: 200px;
}

.nav h1 {
    text-align: center;
    color: black;
    padding: 15px;
    text-decoration: underline;
}

.nav ul li {
    margin: 20px;
    color: black;
    list-style: none;
}

.nav nav ul {
    color: black;
    padding: 45px;
    font-size: 30px;

}

.nav nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 2px;
    color: black;
}

.nav ul {
    display: flex;
}


.nav h1 {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
 .nav img{
    width: 200px;
    height: 200px;
    display: flex;
    align-content: flex-start;
    
 }
 .bg-dark{
    font-size: 20px;
    ul{
        background-color: white;
        li{
            background-color: white;
            a{
                color: black;
            }
        }
    }
 }

 #carouselExampleDark{
    width: 500px;
    height: 470px;
    
 }