/*!----index------*/
@media screen and (max-width:889px) {
    .nav {
        h1 {}

        nav {
            ul {
                padding: 15px;

                li {
                    flex-direction: row;
                    margin: 10px;

                    a {}
                }
            }
        }



    }
}

@media screen and (max-width:619px) {
    .nav {
        h1 {}

        nav {
            ul {
                padding: 10px;

                li {
                    flex-direction: row;
                    margin: 10px;

                    a {
                        font-size: 20px;
                    }
                }
            }
        }



    }
}

@media screen and (max-width:540px) {
    .nav {
        h1 {}

        nav {

            ul {
                padding: 10px;
                flex-direction: row;


                li {

                    margin: 10px;


                    a {
                        font-size: 18px;
                    }
                }
            }
        }



    }
}


@media screen and (max-width:874px) {
    .hero {
        h2 {}

        p {
            font-size: 20px;

        }

    }

}

@media screen and (max-width:704px) {
    .hero {
        h2 {
            font-size: 35px;

        }

        p {
            font-size: 20px;

        }

    }

}

@media screen and (max-width:478px) {
    .hero {
        h2 {
            font-size: 20px;

        }

        p {
            font-size: 15px;

        }

    }

}

@media screen and (max-width:555px) {
    .iframe {
        h2 {}

        p {

            iframe {
                width: 400px;
                height: 200px;

            }
        }

    }

}

@media screen and (max-width:401px) {
    .iframe {
        h2 {}

        p {

            iframe {
                width: 350px;
                height: 200px;

            }
        }

    }

}


@media screen and (max-width:875px) {
    .img {
        .img-contenedor {
            display: flex;
            flex-direction: column;
            justify-content: center;

            div {
                img {}

                h2 {}

                a {}
            }
        }

    }

}


@media screen and (max-width:670px) {
    .social {
        h2 {}

        .social-flex {
            display: flex;
            flex-direction: column-reverse;

            p {
                iframe {}
            }

            a {}

        }

    }

}

@media screen and (max-width:1191px) {
    .reg-flex {
        flex-direction: column;
        margin: 0;
    }

}

/*!----------*/

/*!----nosotros------*/

@media screen and (max-width:1230px) {
    .marcas {
        h4 {}

        div {
            ul {
                display: grid;
                grid-template-columns: repeat(2, 2fr);

                li {
                    img {}
                }
            }
        }
    }
}


@media screen and (max-width:970px) {
    .marcas {
        h4 {}

        div {
            ul {
                display: flex;
                flex-direction: column-reverse;

                li {
                    img {}
                }
            }
        }

    }

}

@media screen and (max-width:900px) {
    .historia {
        h2 {
            font-size: 25px;
        }

        h3 {
            font-size: 20px;
        }

    }
}

@media screen and (max-width:570px) {
    .historia {
        h2 {
            font-size: 20px;
        }

        h3 {
            font-size: 15px;
        }

    }
}








/*!----------*/